<div class="w-64 bg-gray-900 h-screen p-6 sticky top-0">
    <!-- Button for Post Job -->
    <button class="w-full bg-orange-500 text-white py-3 rounded mb-5 font-semibold hover:bg-orange-600">
        <a routerLink="/create_job" class="w-full block text-white">Post Job +</a>
    </button>
    
    <!-- Sidebar Navigation Links -->
    <ul>
        <li class="mb-4">
            <a routerLink="/applications" class="text-white block py-2 px-4 rounded hover:bg-purple-300">Applications</a>
        </li>
        <li class="mb-4">
            <a routerLink="/accepted_applications" class="text-white block py-2 px-4 rounded hover:bg-purple-300">Accepted</a>
        </li>
    </ul>
</div>
